@model BreederStationBussinessLayer.Domain.Person

@{
    ViewBag.Title = "AddPerson";
}

<script>
    $(document).ready(function () {
        $("#cleanerSection").hide();
        $("#breederSection").hide();

        $("input#Role_Type").change(function (event) {
            var value = event.target.defaultValue;

            if (value == "CLEANER") {
                $("#cleanerSection").toggle();
                $("#breederSection").hide();
            } else if (value == "BREEDER") {
                $("#cleanerSection").hide();
                $("#breederSection").toggle();
            } else {
                $("#cleanerSection").hide();
                $("#breederSection").hide();
            }
        });
    });
</script>


<div id="AddPersonForm">
    @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post))
    {
        <br>
        <br>
        <legend>Vložení zaměstnance</legend>
        
        <div id="personBasicInfo">
            <div class="col-sm-4">
                <div>@Html.Label("Login *")</div>
                <div>@Html.TextBox("Login")</div>
            </div>

            <div class="col-sm-4">
                <div>@Html.Label("Jméno *")</div>
                <div>@Html.TextBoxFor(m => Model.FirstName)</div>
            </div>

            <div class="col-sm-4">
                <div>@Html.Label("Příjmení *")</div>
                <div>@Html.TextBoxFor(m => Model.LastName)</div>
            </div>

            <div style="clear:both; padding-top: 30px">
                <div>@Html.Label("Telefon *")</div>
                <div>@Html.TextBoxFor(m => Model.Phone)</div>
            </div>

            <div style="margin-top: 30px">
                <div>@Html.Label("Datum narození *")</div>
                @Html.TextBoxFor(model => Model.BirthDate,
                new { @type = "date" })
            </div>
        </div>
        
        <hr>
        <legend>Uživatelská role</legend>

        <div class="col-sm-2">
            <label>
                Admin
                @Html.RadioButtonFor(m => Model.Role.Type, "ADMIN")
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Ředitel
                @Html.RadioButtonFor(m => Model.Role.Type, "DIRECTOR")
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Chovatel
                @Html.RadioButtonFor(m => Model.Role.Type, "BREEDER")
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Uklízeč
                @Html.RadioButtonFor(m => Model.Role.Type, "CLEANER")
            </label>
        </div>
        <div id="cleanerSection" style="clear:both">
            <hr>
            <legend>Sekce uklízeče</legend>
            <label>
                @Html.CheckBoxFor(m => ((BreederStationBussinessLayer.Domain.Cleaner)Model).ChemicalQualification, "CLEANER")
                Chemická kvalifikace
            </label>
        </div>
        <div id="breederSection">
            <hr style="clear:both">
            <legend>Sekce Chovatele</legend>
            
           <label>
               Vyberte skupinu
               @Html.DropDownListFor(m => ((BreederStationBussinessLayer.Domain.Breeder)Model).AnimalGroup.Id, new SelectList(ViewBag.possibleGroups, "Id", "Description", null ))
            </label>
        </div>
        <hr style="clear:both">
        <div style="text-align: center"><input style="margin: 0 auto" type="submit" value="AddPerson" /></div>
    }
</div>
